<div class="center jumbotron">
  <h1>Music_sns へようこそ！</h1>
  <h2>ライブに一緒に行く人を見つけよう！</h2>
  <h2>ライブを最高の時間に。</h2>
  <h2>タイムライン↓</h2>
</div>
<div class="container">
  <h3>一緒にライブに行く人を見つけよう！ (<%= @live_items.count %>)</h3>
  <%= render 'shared/live' %>
</div>