<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>一緒にライブに行く人を見つけよう！ (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "一緒にライブに行く人を募集する", new_live_companion_path, class: "btn btn-primary btn-lg btn-record" %></p>
      </div>
    </div>
  </div>
<% else %>
  <center>
    <h1>connect へようこそ！</h1>
    <h2>ライブに一緒に行く人を見つけよう！</h2>
    <p>ライブを最高の時間に。</p>
    <%= link_to 'ゲストログイン（閲覧用）', static_pages_guest_sign_in_path, method: :post %>
  </center>
<% end %>

