<% if logged_in? %>
  <div id="fh5co-portfolio">
    <div class="container">
      <div class="col-md-9">
        <h3>一緒にライブに行く人を見つけよう！ (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "一緒にライブに行く人を募集する", new_live_companion_path, class: "btn btn-primary btn-lg btn-record" %></p>
      </div>
    </div>
  </div>
<% else %>
  <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t js-fullheight">
            <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
              <h2>ライブに一緒に行く人を見つけよう！</h2>
              <h3>ライブを最高の時間に。</h3>
              <p>
                <%= link_to 'ゲストログイン（閲覧用）', static_pages_guest_sign_in_path, class: "btn btn-primary btn-lg btn-demo", method: :post %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>

