<% if logged_in? %>
  <div class="container">
    <h3>一緒にライブに行く人を見つけよう！ (<%= @live_items.count %>)</h3>
    <%= render 'shared/live' %>
  </div>
<% else %>
  <center>
    <h1>Music_sns へようこそ！</h1>
    <h2>ライブに一緒に行く人を見つけよう！</h2>
    <p>ライブを最高の時間に。</p>
  </center>
<% end %>

