<% provide(:title, "一緒にライブに行く人を募集する") %>
<div class="container">
  <h1>一緒にライブに行く人を募集する</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'live_companions/live_companion_from' %>
    </div>
  </div>
</div>