<% provide(:title, "#{@live_companion.artist_name}") %>
<div class="container">
  <div class="row">
    <h2 class="live_companion-name"><%= @live_companion.artist_name %></h2>
    <h4><%= @live_companion.live_name %></h4>
    <h4><%= @live_companion.live_memo %></h4>
  </div>
</div>