<%= link_to "/live_lists/#{@live_companion.id}/create",
            method: :post,
            class: 'live_list',
            remote: true do %>
  <div class="live_list-btn-list"><i class="fas fa-list-alt"></i> ライブ予定リストに追加する</div>
<% end %>
