<%= link_to "/live_lists/#{@live_companion.id}/create",
            method: :post,
            class: 'live_list',
            remote: true do %>
  <div class="live_list-btn-list"><i class="fas fa-list-alt"></i> 一緒に行きたい！リクエストを送る</div>
<% end %>